<div class="conteiner">
  <header>
  </header>
  <main>
    <div class="painel-div">
      <div class="tabela-cabeçalho-div">
        <div class="input-div">
          <input type="text" placeholder="Símbolo" [(ngModel)]="filtroCodigo" class="filtro-input" />
        </div>
      </div>
      <div class="tabela-div">
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Código</th>
              <th scope="col">Nome</th>
              <th scope="col" (click)="ordenarPor('close')">Fechamento</th>
              <th scope="col" (click)="ordenarPor('change')">Variação (%)</th>
              <th scope="col" (click)="ordenarPor('volume')">Volume</th>
              <th scope="col" (click)="ordenarPor('marketcap')">Captação de mercado</th>
              <th scope="col" (click)="ordenarPor('sector')">Setor</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let stock of stocksPaginados">
              <tr (click)="expandirDetalhes(stock)"
                class="linha-principal">
                <td>
                  <div class="div-img">
                    <img class="logo" src={{stock.logo}} alt="">
                  </div>
                </td>
                <td>{{ stock.stock }}</td>
                <td>{{ stock.name }}</td>
                <td class="valor-direita">{{ stock.closeString }}</td>
                <td [ngClass]="['valor-direita', getClasseVariacao(stock.change)]">{{ stock.changeString }}</td>
                <td class="valor-direita">{{ stock.volume }}</td>
                <td class="valor-direita">{{ stock.marketcap }}</td>
                <td>{{ stock.sector }}</td>
              </tr>

              <tr *ngIf="linhaExpandida === stock.stock" class="linha-detalhes">
                <td colspan="100%">
                  <div class="secao-detalhes">
                    <div class="detalhes">
                      <p>P/L: {{stock.detalhes?.priceEarnings}}</p>  <br />
                      <p>EPS:{{stock.detalhes?.earningsPerShare}}</p>  <br />
                    </div>
                    <div class="detalhes">
                      <p>52 semanas mínimo:{{stock.detalhes?.fiftyTwoWeekLow}}</p>  <br />
                      <p>52 semanas máximo:{{stock.detalhes?.fiftyTwoWeekLow}}</p>
                    </div>
                    <div class="detalhes">
                      <p>Abertura:{{stock.detalhes?.regularMarketOpen}}</p>  <br />
                      <p>Fechamento anterior:{{stock.detalhes?.regularMarketPreviousClose}}</p>  <br />
                      <p>Horário da cotação:{{stock.detalhes?.regularMarketTime}}</p>
                    </div>
                  </div>
                </td>
            </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
      <div class="controle-paginacao">
        <p>Total de itens: {{totalItens}}</p>
        <p>Pagina: {{paginaAtual}}</p>
        <button (click)="paginaAtual = paginaAtual - 1" [disabled]="paginaAtual === 1">
          Anterior
        </button>
        <button (click)="paginaAtual = paginaAtual + 1" [disabled]="paginaAtual * itensPorPagina >= stocks.length">
          Próxima
        </button>
      </div>
    </div>
  </main>
  <footer>
  </footer>
</div>
