table {
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

th, td {
  border-bottom: 1px solid #ccc;
  padding: 10px 15px;
  text-align: left;
}

th {
  background-color: #f0f0f0;
  font-weight: bold;
}

tr:hover {
  background-color: #f9f9f9;
}

.div-img{
  height: 3vh;
}

.logo{
  height: 100%;
}
