

header{
  height: 8vh;
  background-color:cornflowerblue;
}

.tabela-div{
  width: 80%;
  padding: 1vh 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:azure;
}

.input-div{
  display: flex;
  flex-direction: row;
  /* justify-content:space-between; */
  align-items: center;
  background-color: aqua;
  width: 100%;
  padding: 1vh 1vw;
}

input{
  border: 2px solid rgb(151, 141, 204);  /* define sua borda custom */
  box-shadow: 1 1 5px rgb(47, 47, 47);
  height: 4vh;
  width: 30%;
  text-align:center;
  border-radius: 10px;
  background-color: white;
}

button{
  height: 4vh;
  width: 5%;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: white;
}

button:hover{
  cursor: pointer;
}

input:focus{
  outline: none;
  border: 3px solid rgb(71, 37, 239);
}

table {
  border-collapse: collapse;
  /* width: 80%; */
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

th, td {
  border-bottom: 1px solid #ccc;
  padding: 10px 15px;
  text-align: left;
}

.valor-positivo {
  color: green;
}

.valor-negativo {
  color: red;
}

.valor-zero {
  color: black;
}

th {
  background-color: #f0f0f0;
  font-weight: bold;
}

tr:hover {
  background-color: #f9f9f9;
}

.div-img{
  height: 3vh;
}

.logo{
  height: 100%;
}

.valor-direita {
  text-align: right;
}
