
.conteiner{
  width: 100vw;
  display: flex;
  flex-direction: column;
}

header{
  height: 10vh;
  width: 100%;
  background-color:cornflowerblue;
  display: flex;
  justify-content:space-around;
  align-items: center;
  position:fixed
}

header>div{
  height: 100%;
}

.logo-header{
  height: 100%;
}

header>p{
  color: white;
  font-size: 5vh;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main{
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:azure;
  padding: 10vh 0;
}

.painel-div{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding-top: 1vh;
}

.tabela-cabeçalho-div{
  display: flex;
  flex-direction: row;
  justify-content:right;
  align-items: center;
  background-color: rgb(156, 213, 213);
  width: 100%;
  padding: 1vh 0;
  border-radius: 5px;
}

.input-div{
  width: 45%;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}

input{
  border: 2px solid rgb(151, 141, 204);
  box-shadow: 1 1 5px rgb(47, 47, 47);
  height: 4vh;
  width: 75%;
  text-align:center;
  border-radius: 10px;
  background-color: white;
}

button{
  height: 4vh;
  width: 20%;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: white;
}

button:hover{
  cursor: pointer;
  background-color: aquamarine;
}

input:focus{
  outline: none;
  border: 3px solid rgb(71, 37, 239);
}

.tabela-div{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-family: Arial, sans-serif;
}

th, td {
  border-right: 1px solid #b9b9b9c3;
  border-bottom: 1px solid #ccc;
  padding: 5px 5px;
  text-align: left;
}

th {
  background-color: white;
  font-weight: bold;
}

th:hover{
  cursor: pointer;
  background-color: #bcf8ff;
}

tr:hover {
  background-color: #bcf8ff;
}

.div-img{
  height: 3vh;
}

.logo{
  height: 100%;
}

.valor-direita {
  text-align: right;
}

.valor-positivo {
  color: green;
}

.valor-negativo {
  color: red;
}

.valor-zero {
  color: black;
}

.controle-paginacao{
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  background-color: rgb(156, 213, 213);
  padding: 1vh 0;
}

.controle-paginacao > button{
  margin: 0 1vw;
  width: 15%;
}

.controle-paginacao > p{
  margin: 0 1vw;
  font-size: 1vw;
}

footer{
  height: 8vh;
  background-color:darkslateblue;
}


.linha-detalhes{
    width: 100%;
}

.secao-detalhes{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.detalhes > p{
  width: 30%;
}

.detalhes{
  background-color:  #bcf8ff;
  display: flex;
  flex-direction: row;
  justify-content:left;
  align-items: center;
  font-size: 0.8vw;
  padding: 0.5vh 0;
  padding-left: 3vw;
  margin: 3px 0;
}

.linha-detalhes:hover{
  background-color: white;
}


@media screen and (max-width: 827px) {
.detalhes{
  padding-left: 0;
}

.detalhes>p{
  font-size: 2vw;
}

.painel-div{
  width: 90%;
}

.tabela-div{
  overflow-x: scroll;
}

th, td {
  font-size: 2vw;
  padding: 5px 5px;
}


.div-img{
  height: 3vh;
}

}


@media screen and (max-width: 577px) {
.painel-div{
  width: 95%;}

header>p{
  color: white;
  font-size: 4vh;
}

.controle-paginacao > p{
  margin: 0 1vw;
  font-size: 3vw;
}

.controle-paginacao > p{
  margin: 0 1vw;
  font-size: 3vw;
}

.controle-paginacao > button{
  font-size: 3vw;
}
}
