<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Código</th>
      <th scope="col">Nome</th>
      <th scope="col">Fechamento</th>
      <th scope="col">Variação (%)</th>
      <th scope="col">Volume</th>
      <th scope="col">Captação de mercado</th>
      <th scope="col">Setor</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let stock of stocks">
      <td>
        <div class="div-img">
          <img class="logo" src={{stock.logo}} alt="">
        </div>
      </td>
      <td>{{ stock.stock }}</td>
      <td>{{ stock.name }}</td>
      <td class="valor-direita">{{ stock.closeString }}</td>
      <td [ngClass]="['valor-direita', getClasseVariacao(stock.change)]">{{ stock.changeString }}</td>
      <td class="valor-direita">{{ stock.volume }}</td>
      <td class="valor-direita">{{ stock.marketcap }}</td>
      <td>{{ stock.sector }}</td>
    </tr>
  </tbody>
</table>
